<footer class="container footer">
    <h2 class="hidden">Footer</h2>
    <div class="row">
        <div class="col-md-6 footer__help">
            <form class="form-inline" action="/action_page.php">
                <label for="email" class="mr-sm-2"></label>
                <input type="text" placeholder="Have a question?" class="form-control mb-2 mr-sm-2" id="email">
                <button type="submit" class="btn button-general mb-2" style="background-color:#A1B011">Submit</button>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row footer__link-items">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/footer_logo2.svg" class="footer__logo" alt="footer logo">
                    <br>
                    <div class="footer-section-title">
                        Canada Office
                    </div>
                    <div class="footer-section-info">
                        125, Oxford Rd<br>
                        Ontario, N5Y 1KS
                        CA
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-section-title">
                        Company
                    </div>
                    <div class="footer-section-info">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Terms & conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Service</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-section-title">
                        Contact Us
                    </div>
                    <div class="footer-section-info">
                        <ul>
                            <li>
                                Contact@flora.com
                            </li>
                            <li>
                                +0 745 667 8752
                            </li>
                            <li>
                                <div id="footer-social-icons">
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</footer>
