<%- include('partials/header') %>

<div class="container">
<section class="row hero-section">
  <h2 class="hidden">Product Info</h2>
  <div class="col-md-6">
    <div id="unique-product">Unique Product</div>
    <div id="hero-title">Flora.</div>
    <div id="hero-description"><strong>FLORA</strong> is a plant monitoring sytem. It analysis your plant and make sure
      every
      thing is
      suitable for complete growth of
      your plant.
    </div>
  </div>
  <div class="col-md-6">
  </div>
</section>
</div>
<div class="container features">
  <section class="row page-section-row page-section-dark">
    <h2 class="hidden">Key Features</h2>
    <div class="col-md-6 text-center">
      <img src="images/features-vecture.svg" class="features__image" alt="features">
    </div>
    <div class="col-md-6 text-center">
      <div id="key-features" class="column-title">
        Key Features
      </div>
      <div id="key-features-info-box" class="column-detail-box">
        Within FLORA we try to make everything easy to understand. We follow <strong>CAT theory</strong>,
        which is <strong>Care</strong>
        for your plant,
        <strong>Analyse</strong>
        your plant and keep <strong>Track</strong> of it. All the information is produced in an legible
        format so, you
        can bond with
        your plant
        in a well manner.
      </div>
      <div id="key-features-list">
        <ol>
          <li>
            Analyse the growth of plant with different sensors.
          </li>
          <li>
            Use of <strong>Arduino sensors</strong> for an accurate results.
          </li>
          <li>
            Consist of sensors for Humidity, Soil Fertility, Sunlight.
          </li>
          <li>
            Easy to use - with just plug and run support.
          </li>
          <li>
            Gives data of your plant in multiple <strong>graph formats</strong>.
          </li>
        </ol>
      </div>
    </div>
  </section>
  <section class="row page-section-row page-section-light graphs">
    <h2 class="hidden">Graphs</h2>
    <div class="col-md-6 graphs__info">
      <div class="column-title">
        Graphs and You
      </div>
      <div class="column-detail-box">
        We use the technology which uses modernise ways to show data and keep track of it. In FLORA we
        use graphical
        representations to show accurate plant data, so, you do not have to get paranoid about numbers
        and can easily
        understand what is going on with your plant. The graphs will show you <strong>live data</strong>
        and keep record
        of all the data from
        the first time your plant gets connected with flora. Make <strong>FLORA</strong> another root
        for your plant.
        The device will get connected with your plant by direct plugging it and it will start
        collecting data. You can check
        all the data by logging in your account on our website <a href="https://www.flora.ca">https://www.flora.ca</a>
      </div>
    </div>
    <div class="col-md-6 graphs__items">
      <div class="row graph-row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <img src="images/humidity-radial.svg" alt="Humidity">
            </div>
            <div class="col-md-8">
              <div class="graph-title">
                Humidity
              </div>
              <div class="graph-detail-box">
                Keeps track of Moisture level of plant and make sure it gets more than 8 glass
                of water/day.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row graph-row">
        <div class="col-md-3"></div>
        <div class="col-md-9 graphs__item-dark">
          <div class="row">
            <div class="col-md-4">
              <img src="images/sunlight.svg" alt="Sunlight">
            </div>
            <div class="col-md-8">
              <div class="graph-title">
                Sunlight
              </div>
              <div class="graph-detail-box">
                Sun is the energy source of our solar system and for your plant to. Keeps the
                track of sunlight.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row graph-row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <img src="images/fertility.svg" alt="Fertility">
            </div>
            <div class="col-md-8">
              <div class="graph-title">
                Fertility
              </div>
              <div class="graph-detail-box">
                No matter what you sow, you will reap nothing when soil is not fertile. Check
                for fertility of soil.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
</div>
<section class="container" style="position:relative;">
  <h2 class="hidden">Graphs</h2>
  <div class="row page-section-dark">
    <div class="col-md-12">
      <div class="compact-bg" style="
                  ">
        <span class="opacity-light">Co</span><span style="color:#c7ea47;">mpa</span><span class="opacity-light">ct</span>
      </div>
    </div>
  </div>

  <div class="row page-section-row page-section-dark">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
      <div class="device-buy-box">
        <div class="product-info">
          <div class="price-tag">
            Price: $48.99
          </div>
          <div style="margin-top:10px;">
            <div class="product-quantity">
              Quantity:
              <select class="form-control">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <div class="product-payment-method">
              Payment Method:<br>
              <select class="form-control">
                <option>Visa/Mastercard</option>
                <option>Paypal</option>
              </select>
            </div>
          </div>
          <div id="payment-checkout">
            <button id="checkout" class="btn btn-lg button-general">Checkout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="align-self: flex-end;">
      <div class="get-our-app">
        Get Our App
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="images/google-play-badge.svg" style="height:50px;" alt="Google Play download link">
        </div>
        <div class="col-md-6">
          <img src="images/download-on-the-app-store-apple.svg" style="height:50px;" alt="App Store download link">
        </div>
      </div>
    </div>
  </div>
</section>


</div>
<%- include('partials/footer') %>