<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/chart.js"></script>

    </head>

    <body>

    </body>

</html>


<div id="moisture"></div>
<div id="temperature"></div>
<div id="light"></div>

<div id="canvas-holder" style="width:50%">
    <canvas id="chart-area" width="800" height="450"></canvas>

    <canvas id="bar-chart" width="800" height="450"></canvas>
    <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
</div>

<script></script>


<script>
    var socket = io();

    function getMoisture() {
        socket.on('moisture', function (data) {
            return data;
            document.getElementById('moisture').innerHTML = data;
        });
    }

    // function getTemperature() {


    var tempChart = new Chart(document.getElementById("chart-area"), {
        type: 'pie',
        data: {
            labels: ["Moisture", ''],
            datasets: [{
                label: "Moisture Level",
                backgroundColor: ["#3e95cd", "#eee"],
                data: [25, 75]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Live Moisture Reading'
            }
        }
    });


    socket.on('temperature', function (data) {
        // return data;
        var remainingFromHundred = (100 - data);
        console.log(data);
        tempChart.data.datasets[0].data = [data, remainingFromHundred];
        tempChart.update();


        // document.getElementById('temperature').innerHTML = data;
    });
    // }

    function getLight() {
        socket.on('light', function (data) {
            // return data;
            document.getElementById('light').innerHTML = data;
        });
    }


    // getTemperature();
</script>

<script src="/js/result-charts2.js"></script>
