<%- include('partials/header') %>

<div class="container">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

<div class="card">

    <div class="card-body">


        <div class="cart-text">
    <% if(message !='' && message !=null) {%>


    <div class="alert alert-warning">
        <strong>Warning!</strong>
        <%= message %>.
    </div>
    <% } %>

<form method="post" action="/users/register" encType="multipart/form-data">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" name="name" placeholder="Your Full Name">
    </div>
<div class="form-group">
    <label for="pwd">Image:</label>
    <input type="file" class="form-control" id="pwd" name="image" placeholder="Image">
</div>
<div class="form-group">
    <label for="usr">email:</label>
    <input type="email" class="form-control" id="usr" name="email" placeholder="Email Address">
</div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
    </div>
    <input type="submit" class=" btn btn-primary btn-block" value="Sign Up" />

</form>
        </div>
        </div>
        </div>
</div>
<div class="col-md-3"></div>
</div>
</div>
<%- include('partials/footer') %>