
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/chart.js"></script>
    
  </head>
  <body>
    
  </body>
  </html>
 

    <div id="moisture"></div>
    <div id="temperature"></div>
    <div id="light"></div>

    <div id="canvas-holder" style="width:50%">
      <canvas id="chart-area"  width="800" height="450"></canvas>
      
      <canvas id="bar-chart" width="800" height="450"></canvas>
      <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
    </div>

    <script></script>


    <script>
  
      var hour_data = [<%- hour_data %>];
      var moisture_data = [<%- moisture_data %>];
      var light_data = [<%- light_data %>];
      var temprature_data = [<%- temprature_data %>];

      
    //   console.log(hour_data);
      
      // function getTemperature() {
      
      
var masterChart = new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: hour_data,
      datasets: [
        {
          label: "Moisture",
          backgroundColor: "#3e95cd",
          data: moisture_data
        }, {
          label: "Light",
          backgroundColor: "#8e5ea2",
          data: light_data
        },
        {
          label: "Temperature",
          backgroundColor: "#ce7322",
          data: temprature_data
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Recent Temperature Moisture, Light values'
      }
    }
});
      
      
        
      // }
      
      function getLight() {
        socket.on('light', function (data) {
            // return data;
          document.getElementById('light').innerHTML = data;
        });
      }
      
      
      // getTemperature();
      </script>
          
<script src="/js/result-charts2.js"></script>
